# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Cache
.turbo
.cache

# Logs
*.log

# Environment files
.env*

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Public assets
public