services:
  next:
    build:
      context: .
      dockerfile: docker/next/Dockerfile
      target: development
    container_name: next
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - .:/src
      - node_modules:/src/node_modules
      - pnpm_store:/pnpm-store
      - ./docs:/src/docs
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
      - TURBOPACK=1
      - PNPM_STORE_DIR=/pnpm-store
      - PNPM_HOME=/home/node/.local/share/pnpm
    stdin_open: true
    tty: true
    user: node
    command: 'sleep infinity'

volumes:
  node_modules:
  pnpm_store:
