services:
  next:
    build:
      context: .
      dockerfile: docker/next/Dockerfile
      target: development
    container_name: next
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - .:/src:cached
      
      - node_modules:/src/node_modules
      - next_cache:/src/.next
      - turbo_cache:/src/.turbo
      - pnpm_store:/pnpm-store
      
      - ./docs:/src/docs:cached
    environment:
      - NODE_ENV=development
      
      - WATCHPACK_POLLING=false
      - CHOKIDAR_USEPOLLING=false
      
      - TURBOPACK=1
      
      - PNPM_STORE_DIR=/pnpm-store
      - PNPM_HOME=/home/node/.local/share/pnpm
      
      - NEXT_TELEMETRY_DISABLED=1
      
      - NODE_OPTIONS=--max-old-space-size=4096
    stdin_open: true
    tty: true
    user: node
    command: 'sleep infinity'

volumes:
  node_modules:
  pnpm_store:
  next_cache:
  turbo_cache: